body {
    font-family: inter;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    color: white;
}

/* shared styles */
.orange-color {
    color: #E6533C;
}

.bg-orange-color {
    background-color: #E6533C;
}

.flex {
    display: flex;
}

/* nav bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.nav {
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 25px;
    border-radius: 39px;
    padding-left: 10px;
}

.menu-icon {
    visibility: hidden;
}

.title {
    font-weight: 800;
    font-size: 1.6rem;
}

.font-Miama {
    font-family: 'Miama', sans-serif;
    font-size: 6rem;
    font-weight: 300;
}

.title>h3 {
    margin-top: 0;
}

.nav>a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.home-btn {
    color: #FFFFFF;
    background-color: #E6533C;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
}

/* Banner setction */

.main-title {
    font-size: 4em;
}

.description {
    font-size: 0.8rem;
    opacity: 50%;
}

.banner {
    display: flex;
}

.img-with-dumble {
    padding-left: 160%;
}

.card {
    background-color: #FFFFFF1A;
    width: 180px;
    height: 100px;
    border-radius: 5px;
}

.card-texts {
    text-align: left;
    padding-top: 2px;
    padding-left: 20px;
    margin-top: 20px;
}

.card-1 {
    position: relative;
    top: -58%;
    left: 230%;
}

.card-2 {
    position: relative;
    top: -35%;
    right: -140%;
}

.circle {
    border: 5px solid red;
    width: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #E6533C;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20%;
}

.btn-join-club {
    height: 40px;
    width: 130px;
    border-radius: 50px;
    color: white;
    border: none;
}

.btn-download-app {
    height: 40px;
    width: 130px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
}

/* Change your habit */
.change-your-habits {
    text-align: center;
    margin-top: 0;
}

.section-title {
    font-size: 1rem;
}

.image-circle {
    border-radius: 50%;
}

.img-card {
    padding-top: 80px;
    text-align: center;
}

.image-cards-section {
    gap: 50px;
}

.p-width {
    width: 240px;
}

.img-resize {
    width: 300px;
    border-radius: 10px;
}

.btn-join-now {
    background-color: #E6533C;
    color: #FFFFFF;
    border-radius: 50px;
    width: 120px;
    height: 30px;
    border: none;
    /* align-items: center; */
    /* justify-content: center;
    text-align: center;
    gap: 20px; */
}

.run-extra-section {
    margin: 80px auto 80px auto;
    padding-left: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 150px;

    align-items: center;
    background-color: #222222;
    width: 800px;
    border-radius: 5px;
}

.run-extra-texts {
    margin-left: 0;
}

.bmi-calculator-section {
    text-align: center;
}

/* bmi calculator chart */

.caclulator-container {
    margin-top: 140px;
    background-color: #222222;
    padding-left: 20%;
    gap: 60px;
    padding-bottom: 30px;
    /* margin-left: 550px; */
}

table {
    border-collapse: collapse;
    margin-top: 40px;
}

td,
th {
    border: 1px solid white;
    text-align: left;
    padding: 10px;
    /* gap: 60px; */
    opacity: 50%;
}

th {
    opacity: 100%;
}

.input-field {
    width: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.input-field-box {
    width: 290px;
    height: 30px;
    border-radius: 5px;
    background-color: #FFFFFF1A;
    /* padding-bottom: 10px; */
}

#activity {
    margin-top: 20px;
    padding: 12px;
    border-radius: 5px;
    width: 93%;
    background-color: #FFFFFF1A;
    color: white;
    opacity: 90%;
}

.btn-calculate {
    background-color: #E6533C;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    color: white;
    border: none;

}

.btn-calculate-container {
    padding-top: 20px;
}


/* Meet our team section */

.meet-team-title {
    text-align: center;
    margin-top: 120px;
}

.team-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.team-card-1 {
    background-image: url('/images/trainer1.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 270px;
    opacity: 80%;
    border-radius: 18px;
    justify-content: flex-end;
}

.team-card-2 {
    background-image: url('/images/trainer2.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 270px;
    opacity: 80%;
    border-radius: 18px;
    justify-content: flex-end;
}

.team-card-3 {
    background-image: url('/images/trainer3.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 270px;
    opacity: 80%;
    border-radius: 18px;
    justify-content: flex-end;
}

.team-card-4 {
    background-image: url('/images/trainer4.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 270px;
    opacity: 80%;
    border-radius: 18px;
    justify-content: flex-end;
}

.team-card-5 {
    background-image: url('/images/trainer5.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 270px;
    opacity: 80%;
    border-radius: 18px;
    justify-content: flex-end;
}

.team-card-6 {
    background-image: url('../images/trainer6.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 270px;
    opacity: 80%;
    border-radius: 18px;
    justify-content: flex-end;
}



.team-card-texts {
    position: relative;
    top: 180px;
    left: 20px;

}

/* footer  */

.footer-container {
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    background-color: #222222;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    padding-top: 10px;
    opacity: 50%;
    font-size: 1rem;
}

.footer-title {
    font-size: 3rem;
}

footer {
    padding-top: 50px;
}

.footer-nav {
    gap: 15%;
    border-bottom: 1px solid #FFFFFF1A;
}

.footer-des {
    width: 400px;
}

.copyright-text {
    margin-top: 40px;
    text-align: center;
}

/* Responsive */
@media screen and (max-width:576px) {
    .nav {
        visibility: hidden;
        /* background-image: url('/images/menu.png'); */
    }

    .menu-icon {
        visibility: visible;
        position: relative;
        right: -80%;
        top: -50%;
    }

    .btn-menu {
        background-color: #E6533C;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
        height: 25px;
        width: 50px;
    }

    .banner {
        flex-direction: column;
    }

    .card-1 {
        top: -520px;
        left: 250px;
    }

    .card-2 {
        top: -290px;
        left: 10px;
    }


    /* Change  your Habit section */

    .image-cards-section {
        flex-direction: column;
        gap: 10px;
    }

    .img-with-dumble {
        padding-left: 10%;
    }

    .run-extra-section {
        flex-direction: column;
        gap: 60px;
        padding: 0 0 25px 0;
        width: 100%;
    }

    .caclulator-container {
        flex-direction: column;
        padding-left: 20px;

    }

    .input-field-box {
        width: 130px;
    }

    #activity {
        flex-direction: column;

        /* margin-top: 20px;
        padding: 12px;
        border-radius: 5px; */
        width: 90%;
    }

    /* Meet our team */

    .team-container {
        grid-template-columns: repeat(1, 1fr);

    }

    /* footer */
    .footer-nav {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer-container {
        padding-left: 50px;
        /* padding-right: 150px; */
    }

    .footer-des {
        width: 280px;
    }
}